@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ptsans-400.woff2) format('woff2');
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ptsans-700.woff2) format('woff2');
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}


/* index-header */

.header-nav {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.logo {
  max-height: 64px;
  margin-right: 30px;

}

.logo img {
  position: relative;
  z-index: 1;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 338px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  list-style: none;
}

.nav-item a {
  position: relative;
  display: block;
  padding: 20px 16px;
  color: #000000;
  text-decoration: none;
}

.active-link span{
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 19px;
  text-underline-position: under;
  z-index: 1;
}

.nav-item-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.nav-user-menu {
  margin: 0;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 270px;
}

.nav-user-menu a {
  min-width: 44px;
  min-height: 64px;
  padding: 0;
}


.nav-item .index-button {
  width: 160px;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 4px;
  margin-left: 20px;
  padding: 0;
}

.header-favorites-value {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11px;
  left: 20px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 10px;
}

/* index-hero */

.hero {
  background-image: url('../images/hero-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image {
  display: block;
  margin: 0 auto;
  padding: 51px 0 82px;
}

/* hero-lead */

.hero-lead {
  padding: 69px 0 90px;
}


.hero-title {
  margin: 0 auto 25px;
  max-width: 620px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.hero-subtitle {
  margin: 0;
  text-align: center;
}

/* advantages */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  min-height: 385px;
  padding: 0 85px;
  margin: 0;
}

.advantages-item:first-child, .advantages-item:last-child {
  display: flex;
  width: 1200px;
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
}

.advantages-item:last-child {
  flex-direction: row-reverse;
}

.advantages-item:nth-child(2n) {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item img {
  display: block;
}

.advantages-item .advantages-title::after {
  position: absolute;
  bottom: -30px;
  left: 57.5px;
  right: 57.5px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: '';
}

.advantages-item:first-child .advantages-title::after, .advantages-item:last-child .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-title {
  position: relative;
  max-width: 175px;
  margin: 0 auto 60px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

/* services */

.services {
  padding-top: 64px;
}

.services-subtitle {
  max-width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.services-description {
  margin: 0;
  text-align: center;
}

.services-list {
  display: flex;
  margin: 0;
  margin-top: 64px;
  padding: 0;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 385px;
  margin: 0;
  padding: 0 85px;
  list-style: none;
}

.services-item-title {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.services-item-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.services-item:nth-child(2n-1) {
  background-color:rgba(131, 179, 211, 0.12);
}

/* search-hotel */

.search-hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 406px;

}

.search-hotel-lead {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.search-hotel-description {
  margin: 0;
  margin-bottom: 54px;
  text-align: center;
}

.search-hotel-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 376px;
  height: 52px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
}

/* follow-us-index */

.follow-us {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 96px;
  min-height: 415px;
}

.follow-us-index {
  background-image: url('../images/subscribe-background.jpg');
  background-repeat: no-repeat;
  color: #ffffff;
}

.follow-us-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.follow-us-description {
  max-width: 475px;
  margin: 0 auto 54px;
  text-align: center;
}

.follow-us-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
}

.follow-us-input {
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  height: 52px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
}

.follow-us-index .follow-us-input {
  background-color: #ffffff;
}

.follow-us-submit {
  width: 232px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
}

/* footer */

.page-footer {
  padding: 40px 70px;
  box-sizing: border-box;
}

.footer-container {
  width: 1060px;
  margin: 0 auto;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

.socials-list {
  display: flex;
  width: 141px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials-item {
  min-width: 47px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-item-icon {
  fill: rgba(131, 179, 211, 1);
}

.socials-item:hover .socials-item-icon {
  fill: rgba(104, 162, 202, 1);
}

.footer-phone {
  display: block;
  width: 720px;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.footer-our-link {
  width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* modal */
.modal-back {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F2F2F2CC;
  z-index: 1;
}

.modal-window {
  position: relative;
  width: 577px;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

.modal-form label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.come-in-date, .come-out-date {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.come-in-input, .come-out-input {
  width: 440px;
  height: 48px;
  padding: 12px 20px;
  box-sizing: border-box;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  background-image: url('../images/modal-date.svg');
  background-repeat: no-repeat;
  background-position: center right 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.come-in-input::-webkit-calendar-picker-indicator,
.come-out-input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.modal-label-container {
  display: flex;
  justify-content: space-between;
  gap: 88px;
}

.modal-label-container > div {
  display: flex;
  align-items: center;
}

.modal-label-container input {
  width: 31px;
  height: 48px;
  padding: 14px 10px;
  box-sizing: border-box;
  background-color: #F2F2F2;
  border: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.adults-counter-span, .children-counter-span {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.input-minus, .input-plus {
  position: relative;
  width: 40px;
  height: 48px;
  padding: 0;
  background-color: #F2F2F2;
  border: none;
}

.input-minus {
  margin-left: 46px;
  border-radius: 4px 0 0 4px;
}

.input-minus::before {
  position: absolute;
  top: 23px;
  left: 13px;
  width: 14px;
  height: 2px;
  content: '';
  background-color: #7561574D;
}

.input-plus {
  border-radius: 0 4px 4px 0;
}

.input-plus svg {
  position: absolute;
  top: 17px;
  right: 13px;
}

.children-counter-span {
  padding: 1px 0;
  padding-right: 36px;
  background-image: url("../images/modal-info.svg");
  background-position: center right;
  background-repeat: no-repeat;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.modal-submit-button {
  width: 100%;
  height: 60px;
  margin-top: 48px;
  padding: 0;
  border-radius: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  padding: 0;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background-color: #F2F2F2;
  background-image: url('../images/modal-close.svg');
  background-repeat: no-repeat;
  background-position: center;
}


/* inner catalog header */

.inner-header {
  padding: 70px;
  padding-top: 35px;
  color: #ffffff;
  background-image: url('../images/filter-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.crumbs-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  display: flex;
}

.crumbs-item:first-child {
  position: relative;
  background-image: url('../images/breadscrumbs.svg');
  background-repeat: no-repeat;
  background-position: 23px center;
}

.crumbs-item {
  padding-right: 28px;
}

.crumbs-item a {
  display: block;
  min-width: 13px;
  min-height: 21px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.crumbs-item:first-child a {
  background-image: url('../images/breadscrumbs-home.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.filter-form {
  display: flex;
  justify-content: space-between;
}

.filter-column {
  display: flex;
  gap: 70px;
}

.filter-column-left {
  width: 370px;
}

.filter-column-right {
  width: 549px;
}

.filter-column fieldset {
  padding: 0;
}

.filter-hotel-includes, .filter-hotel-housing, .filter-hotel-price {
  border: none;
}

.hotel-filter-title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-column fieldset {
  margin: 0;
  min-width: 150px;
}

.filter-form legend {
  padding: 0;
}

.filter-form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-includes-item, .hotel-housing-item {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 23px;
}

.hotel-includes-item:last-child, .hotel-housing-item:last-child {
  margin-bottom: 0;
}

.infrastucture {
  display: flex;
  align-items: center;
  gap: 16px;
}

.infrastucture-mark {
  margin: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
}

.infrastucture-input[type="checkbox"]:checked + .infrastucture-mark {
  background-image: url('../images/mark.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.housing-type {
  display: flex;
  align-items: center;
  gap: 16px;
}

.housing-type-input[type="radio"]:checked + .housing-type-mark {
  background-image: url('../images/radio-mark.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.housing-type-mark {
  margin: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
}

.filter-hotel-price {
  width: 288px;
}

.range-scale {
  margin-top: 44px;
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;

}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.prices {
  display: flex;
  gap: 2px;
}

.price-label {
  position: relative;
}

.price-span {
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  right: 20px;
  color: rgba(1, 1, 1, 0.3);
}

.price-input {
  margin: 0;
  padding: 12px 20px;
  width: 143px;
  min-height: 48px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
}

.price-label:first-child .price-input{
  border-radius: 4px 0 0 4px;
}

.price-label:last-child .price-input{
  border-radius: 0 4px 4px 0;
}

.filter-submit-button {
  width: 191px;
  height: 36px;
  border-radius: 4px;
  margin-top: 56px;
  margin-bottom: 32px;
}

.filter-reset-button {
  color: #ffffff;
  background-color: transparent;
  border: none;
  width: 191px;
  height: 36px;
  border-radius: 4px;
}

.filter-reset-button:hover {
  opacity: 0.6;
}

.filter-reset-button:focus {
  border: 3px solid #83B3D3;
}

.filter-reset-button:active {
  opacity: 0.3;
}

.filter-reset-button:disabled {
  opacity: 0.1;
}

.filter-reset-button, .filter-submit-button {
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

/* hotel-catalog */

.catalog-main-container {
  width: 1060px;
  margin: 0 auto;
}

.hotel-catalog {
  margin: 50px 0 60px;
}

.hotel-catalog-wrapper {
  width: 1060px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting-result {
  width: 340px;
  height: min-content;
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-catalog-sort {
  width: 522px;
  display: flex;
  gap: 70px;
}

.hotel-catalog-sort select {
  margin: 0;
  width: 292px;
  max-height: 49px;
  padding-left: 20px;
  background-color: #ffffff;
  background-image: url('../images/arrow.svg');
  background-repeat: no-repeat;
  background-position: center right 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  font: inherit;
  font-size: 18px;
  line-height: 21px;
}

.hotel-catalog-sort-method:hover, .hotel-catalog-sort-method:active, .hotel-catalog-sort-method:focus {
  border: 2px solid #68A2CA;
}

.hotel-catalog-sort-method:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.hotels-view-list {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-view-button {
  min-width: 48px;
  min-height: 48px;
  background-color: transparent;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.hotels-view-button:hover, .hotels-view-button:focus {
  border: 2px solid #000000;
  cursor: pointer;
}

.hotels-view-button:active {
  border: 2px solid #68A2CA;
}

.hotels-table {
  background-image: url('../images/cards-1.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.hotels-big {
  background-image: url('../images/cards-2.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.hotels-one-by-one {
  background-image: url('../images/cards-3.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.hotels-view-current {
  border: 2px solid #000000;
}

.hotels-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  column-gap: 20px;
  row-gap: 18px;
  margin: 0;
  margin-left: -1px;
  margin-bottom: 39px;
  padding: 0;
  padding-bottom: 39px;
  list-style: none;
  border-bottom: 1px solid #E6E6E6;
}

.hotels-item {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-image {
  display: block;
  margin-bottom: 16px;
}

.hotel-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-description p {
  margin: 0;
}

.hotel-description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 21px;
}

.hotel-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.hotel-more {
  width: 140px;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

.hotel-favorites-button {
  width: 140px;
  min-height: 36px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
}

.my-favorite-hotel {
  background-color: #7DB54F;
}

.hotel-rating {
  display: flex;
  justify-content: space-between;
}

.rating-stars-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 140px;
  min-height: 37px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.rating-stars-item {
  min-width: 18px;
  min-height: 17px;
  background-image: url('../images/rating-star.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.hotel-rating-text {
  margin: 0;
  padding: 8px 22px 9px 23px;
  display: inline-block;
  box-sizing: border-box;
  width: 140px;
  min-height: 37px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;

  border-radius: 4px;
}

.pagination-list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-more {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}








.index-button {
  color: #ffffff;
  background-color: #756157;
}

.index-button:hover, .index-button:focus, .hotel-more:hover, .hotel-more:focus {
  background-color: #615048;
}

.index-button:active, .hotel-more:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.index-button:disabled {
  background-color: #E5E5E5;
}


.catalog-button {
  color: #ffffff;
  background-color: #82B3D3;
  border: none;
}

.catalog-button:hover, .catalog-button:focus, .hotel-favorites-button:hover, .hotel-favorites-button:focus, .pagination-link:hover, .pagination-link:focus {
  background-color: #68A2CA;
  cursor: pointer;
}

.catalog-button:active, .hotel-favorites-button:active, .pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}


.pagination-link-current:hover, .pagination-link-current:active, .pagination-link-current:focus, .pagination-more:hover, .pagination-more:active, .pagination-more:focus {
  color: #000000;
  background-color: #F2F2F2;
}

.catalog-button:disabled, .hotel-favorites-button:disabled {
  background-color: #E5E5E5;
}

.my-favorite-hotel:hover, .my-favorite-hotel:focus {
  background-color: #6C9E42;
}

.my-favorite-hotel:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7DB54F;
}
